<mat-card>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <h2>Registrate</h2>
            <mat-form-field class="full-width-input">
                <input matInput placeholder="Nombre" formControlName="name" required>
                <mat-error>
                    Entra un nombre
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <input matInput placeholder="Email" formControlName="email" required>
                <mat-error>
                    Entra un correo electronico
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <input matInput type="password" placeholder="Password" formControlName="password" required>
                <mat-error>
                    Entra una contraseña
                </mat-error>
            </mat-form-field>
            <a routerLink="/" mat-raised-button color="secondary" routerLinkActive="active">Volver a iniciar sesión</a>
            <button mat-raised-button color="primary">Registrarse</button>
        </form>
        <br>
    </mat-card-content>
</mat-card>